body{
	background-image: url('back2.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.container{
	width:100%;
	height:100%;
	font-family: 'Baskervville';
	margin: 0;

	
}
.form{
	background-color: #AEB6BF;
	width:500px;
	height: 500px;
	margin-right: 700px;
	border-radius:5px;
	margin-top: 100px;
	margin-left: 100px;
	box-shadow:20px 20px 10px grey;  
	

}
.form-group,.form-check, .btn {
	width:300px;
	margin-left: 100px;
}
form{
	padding-top:50px;
}
.btn{
	margin-top: 30px;

}
.menu{
	font-size: 15px;
	margin-top: 15px;
	margin-left: 200px;

}
.menu a{
	color:black;
}
.menu a:hover{
	text-decoration: none;
	color:blue;

}
form{
	padding-bottom: 50px;
	padding-right: 60px;
}

.results-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 15% 0 15%;
}
.card-body{
	float: left;
	text-align: center;
}
.alert{
	justify-content: center;
	text-align: center;
}
.card-footer{
	text-align: center;
}
.no-gutters{
	margin: 0 15% 0 15%;
}
.cover{
	text-align: center;
	padding-bottom: 20px;
	float: left;
	padding-left: 80px;
}
.goodreads{
	text-align: center;
}
.goodreads img{
	padding-bottom: 20px;
}
.cover img{
	padding-bottom: 20px;
}
.form-border{
	justify-content: center;

}
.container bg-light{
	justify-content: center;
	text-align: center;
}
.form-border {
    border-color: black;
    border-style: solid;
    border-radius: 1rem;
    padding: 0.5rem;
}
.btn-success{
	margin-left: 0;
	width:100px;
}
.input-group-text{
	margin-left: 2px;
}
.form-border{
	margin: 80px 80px;
}
.input-group{
	margin-bottom: 2px;
	padding-top: 30px;
	margin-right: 30px;
}
.text{
	margin:0;
}
.review{
	justify-content: center;
	margin: 0 200px 40px 200px;
	padding: 20px;
	background-color: #F8F9FA;
	border-radius: 4px;
}
.formgroup col-sm{
	margin-left: 0
}
.error{
	text-align: center;
	justify-content: center;
	padding: 200px;
}
.small{
	align-items: center;
	text-align: center;
}
.text-muted{
	margin-right: 40px;
}
.wrap{
	display: flex;
	justify-content: center;

}
