.container{
	width:50%;
	height:500px;
	margin-left: 400px;
	background-color: #F2AA4CFF;
	position: fixed;
	font-family: 'Baskervville';
	margin-top: 100px;


}


.container menu{
	float:left;
	padding: 0 0px 0 0px;
	box-shadow: 10px 10px;
	font-size: 50px;
	color: black;
} 

form{
	margin: 100px;
}