{% extends "layout.html" %} 

{% block body %}
<div class='container bg-light row no-gutters'>

	{% for book in books %}
        <h1 class='container bg-dark text-white text-center my-2'> {{book['title']}} </h1>
        <div class="card-body info">
        	<div class="cover">
        		<img src="http://covers.openlibrary.org/b/isbn/{{book['isbn']}}-M.jpg" width="130px">    
			</div>
	        <h6 class="card-text">Author: {{book['author']}}</h6>
	        <h6 class="card-text">Year: {{book['year']}}</h6>
			<h6 class="card-text">ISBN: {{book['isbn']}}</h6>
			<h6 class="card-text"> GOODREADS {{avg_rating}}</h6> 
			<h6 class="card-text"> GOODREADS rate count {{rate_count}}</h6>
        </div>
    {% endfor %}


	<form method="POST" class="form-border">
        <div class="form-row">
            <div class="form-group col-sm">
                <label for="rating">Rate this book</label>
                <select id="rating" name="rating" class="form-control" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option selected value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Say something</span>
                    </div>
                    <textarea name="comment" id="comment" class="form-control" rows="1" required></textarea>
                </div>
            </div>
            <div class="form-group col-sm">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>
    </form>
    <h4> {{rating}} </h4>
    <h4> {{review}} </h4>

</div>




{% endblock %}