{% extends "layout.html" %} 

{% block body %}
<div class='container bg-light row no-gutters'>
    <div class='bg-light container'>
        <div class='float-right'>{{username}}  <a href="{{url_for('logout')}}">Log out</a></div>
    </div>


        <h1 class='container bg-dark text-white text-center my-2'> {{data.title}} </h1>
        <div class="card-body info">
        	<div class="cover">
        		<img src="http://covers.openlibrary.org/b/isbn/{{data.isbn}}-M.jpg" width="130px">

                <h5 class="card-text"><strong>Author:</strong> {{data.author}}</h5>
                <h5 class="card-text"><strong>Year:</strong> {{data.year}}</h5>
                <h5 class="card-text"><strong>ISBN:</strong> {{data.isbn}}</h5> 
                <h5><a href='/api/{{data.isbn}}'>API</a></h5>   
			</div>

            <div class="goodreads">
                <img src="../static/goodreads.png" width="200px height="150px>
                <h5 class="card-text"> <strong>Average rate:</strong> {{avg_rating}}*</h5> 
                <h5 class="card-text"> <strong>No. of ratings:</strong> {{rate_count}}*</h5>
                <h5 class="card-text"> <a href=https://www.goodreads.com/search?q={{data.isbn}}> Goodreads Page </a> </h5>
            </div> 
            </div>
        </div>



	<form method="POST" class="form-border">
        <div class="form-row">
            <div class="form-group col-sm">
                <label class="text"for="rating"><h6>Rate this book</h6></label>
                <select id="rating" name="rating" class="form-control" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option selected value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="formgroup col-sm-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Say something</span>
                        </div>
                        <textarea name="comment" id="comment" class="form-control" rows="1" required></textarea>
                    </div>
            </div>
            <div class="form-group col-sm">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>
    </form>
    
    {% if reviews != None %}
	{% for x in reviews %}
	<div class='review'>
		<h6>Rating: {{x.rating}} of 5</h6>
		<blockquote class="blockquote">
		<p>{{x.review}}</p>
		<footer class="blockquote-footer">{{x.username}}</footer>
		</blockquote>
	</div>
{% endfor %}
{% endif %}
    <div class="bg-light text-center"><strong>*Data keeps changing as per Goodreads API</strong></div>

</div>




{% endblock %}